
.cont1{
  border: solid 1px grey;
  margin: 5px;
  padding: 5px;
  overflow: auto;
  height: 70px;
}

.cont2{
  border: solid 1px grey;
  margin: 5px;
  padding: 5px;
}


.cont3 {
  border: solid 1px black;
  padding: 5px;
  margin: 5px;
}

.cont33{
  border: solid 1px gray;
  overflow: auto;
  height: 300px;
  }


