<div *ngIf="isLouderStatus && isLauderDriver && isLauderOrderStatusOpen && isLauderOrderStatusImplement; else noData">

<div class="cont1 test">
    <button (click)="myOrder()">My_Orders</button>
    <button (click)="fullOrders()">Full_Orders</button>
</div>

<div class="cont2 test" *ngIf="driver.car">
  <tr>
    <td style="width: 30px">Id</td>
    <td style="width: 110px">LastName</td>
    <td style="width: 110px">FirstName</td>
    <td style="width: 130px">MiddleName</td>
    <td style="width: 90px">Phone</td>
    <td style="width: 130px">Email</td>
    <td style="width: 70px">Car</td>
    <td style="width: 90px">LiftCapacity</td>
    <td style="width: 80px">Volume</td>

    <td style="width: 80px" *ngIf="driver.car.trailer">Trailer</td>
    <td style="width: 90px" *ngIf="driver.car.trailer">LiftCapacity</td>
    <td style="width: 100px" *ngIf="driver.car.trailer">Volume</td>
  </tr>
</div>

  <div *ngIf="driver.car" class="cont2 test">
    <tr>
        <td style="width: 30px">{{driver.userId}}</td>
        <td style="width: 100px">{{driver.lastName}}</td>
        <td style="width: 100px">{{driver.firstName}}</td>
        <td style="width: 130px">{{driver.middleName}}</td>
        <td style="width: 80px">{{driver.phone}}</td>
        <td style="width: 120px">{{driver.email}}</td>
        <td style="width: 70px">{{driver.car.name}}</td>
        <td style="width: 80px">{{driver.car.liftingCapacity +  ' kg'}}</td>
        <td style="width: 80px">{{driver.car.volume + ' kbm'}}</td>

        <td style="width: 80px" *ngIf="driver.car.trailer">{{driver.car.trailer.name}}</td>
        <td style="width: 90px" *ngIf="driver.car.trailer">{{driver.car.trailer.liftingCapacity + ' kg'}}</td>
        <td style="width: 80px" *ngIf="driver.car.trailer">{{driver.car.trailer.volume + ' kbm'}}</td>
    </tr>
  </div>


  <div  class="mat-elevation-z8 test" *ngIf="isOrderFull">

    <mat-form-field class="search">
      <mat-label>SEARCH</mat-label>
      <input  matInput (keyup)="applyFilter($event)" placeholder="Ввод:" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> <a routerLink="/orderDetail/{{element.id}}">{{element.id}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="loc">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.loc}} </td>
      </ng-container>

      <ng-container matColumnDef="dest">
        <th mat-header-cell *matHeaderCellDef> Destination </th>
        <td mat-cell *matCellDef="let element"> {{element.dest}} </td>
      </ng-container>

      <ng-container matColumnDef="volume">
        <th mat-header-cell *matHeaderCellDef> Volume </th>
        <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <ng-container matColumnDef="take">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button (click)="modifyByIdStatusInWork(element.id, element.weight, element.volume )">Take</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator   showFirstLastButtons
                     [length]="10"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[1, 5, 10]">
    </mat-paginator>

  </div>



  <div  class="mat-elevation-z8 test" *ngIf="!isOrderFull">

    <mat-form-field class="search">
      <mat-label>SEARCH</mat-label>
      <input  matInput (keyup)="applyFilter1($event)" placeholder="Ввод:" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource1">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> <a routerLink="/orderDetail/{{element.id}}">{{element.id}} </a></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="loc">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.loc}} </td>
      </ng-container>

      <ng-container matColumnDef="dest">
        <th mat-header-cell *matHeaderCellDef> Destination </th>
        <td mat-cell *matCellDef="let element"> {{element.dest}} </td>
      </ng-container>

      <ng-container matColumnDef="volume">
        <th mat-header-cell *matHeaderCellDef> Volume </th>
        <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <ng-container matColumnDef="impl">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> <button (click)="modifyByIdStatusImplemented(element.id)">Impl{{element.id}}</button> </td>
      </ng-container>

      <ng-container matColumnDef="back">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> <button (click)="modifyStatusOpen(element.id)">Back{{element.id}}</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

    </table>

    <mat-paginator   showFirstLastButtons
                     [length]="10"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[1, 5, 10]">
    </mat-paginator>
  </div>
 </div>

  <ng-template #noData>
    <app-loader></app-loader>
  </ng-template>

