
<div class="cont1">
  <div>

    <label>driver:  </label>
    <input type="text" placeholder="lastName"
           value="{{driver.lastName}} {{driver.firstName}} {{driver.middleName}}" />
    <button (click)="myOrder()">My_Orders</button>
    <button (click)="fullOrders()">Full_Orders</button>
  </div>

<div>
  <tr>
    <td style="width: 30px">Id</td>
    <td style="width: 100px">Фамилия</td>
    <td style="width: 100px">Имя</td>
    <td style="width: 120px">Отчество</td>
    <td style="width: 70px">Телефон</td>
    <td style="width: 120px">Эл.адрес</td>
    <td style="width: 70px">Машина</td>
    <td style="width: 120px">Грузоподемность</td>
    <td style="width: 100px">Объем</td>

  </tr>
</div>


  <div *ngIf="driver.car; else noOrder">
    <tr>
        <td style="width: 30px">{{driver.userId}}</td>
        <td style="width: 100px">{{driver.lastName}}</td>
        <td style="width: 100px">{{driver.firstName}}</td>
        <td style="width: 120px">{{driver.middleName}}</td>
        <td style="width: 70px">{{driver.phone}}</td>
        <td style="width: 120px">{{driver.email}}</td>
        <td style="width: 70px">{{driver.car.name}}</td>
        <td style="width: 120px">{{driver.car.liftingCapacity +  'кг'}}</td>
        <td style="width: 100px">{{driver.car.volume + ' куб.м'}}</td>
    </tr>
  </div>
</div>



<div class="cont2">
  <input type="text" placeholder="name" [(ngModel)]="searchOrderName"/>
  <input type="text" placeholder="price" [(ngModel)]="searchOrderPrice"/>
  <input type="text" placeholder="weight" [(ngModel)]="searchOrderWeight"/>
  <input type="text" placeholder="loc_city" [(ngModel)]="searchOrderLocCity"/>
  <input type="text" placeholder="dest_city" [(ngModel)]="searchOrderDestCity"/>
</div>


<div class="cont3">

  <div>
    <tr>
      <td style="width: 30px">id</td>
      <td style="width: 80px">name</td>
      <td style="width: 130px">status</td>
      <td style="width: 80px">price</td>
      <td style="width: 150px">loc_city</td>
      <td style="width: 150px">dest_city</td>
      <td style="width: 70px">weight, kg</td>
    </tr>
  </div>

  <div class="cont33" *ngIf="orderList.length; else noOrder">

    <div *ngIf="isOrderFull">
    <ng-container *ngFor="let order of orderList
    | orderFilterByName: searchOrderName
    | orderFilterByPrice: searchOrderPrice
    | orderFilterByWeight: searchOrderWeight
    | orderFilterByLocCity: searchOrderLocCity
    | orderFilterByDestCity: searchOrderDestCity
    ">
      <div *ngIf="order.status.name == 'open'">
      <app-order-list [modelOrder]="order"></app-order-list>

      <button (click)="modifyByIdStatusInWork(order.id, order.box.weight, order.box.volume)" style="width: 70px" *ngIf="statusList.length">take{{order.id}}</button>
      </div>
    </ng-container>
    </div>

    <div *ngIf="!isOrderFull">
      <ng-container *ngFor="let order of orderList
    | orderFilterByName: searchOrderName
    | orderFilterByPrice: searchOrderPrice
    | orderFilterByWeight: searchOrderWeight
    | orderFilterByLocCity: searchOrderLocCity
    | orderFilterByDestCity: searchOrderDestCity
    ">
        <div *ngIf="((order.driver != null) && (order.driver.email == driverEmail) && (order.status.name == 'in_work'))">
          <app-order-list [modelOrder]="order"></app-order-list>

        <button (click)="modifyByIdStatusImplemented(order.id)" style="width: 120px" *ngIf="statusList.length">implemented{{order.id}}</button>
        <button (click)="back(order.id)" style="width: 70px" *ngIf="statusList.length">back</button>
        </div>

      </ng-container>
    </div>

  </div>
</div>

  <ng-template #noOrder>
    <p> No order now!</p>
  </ng-template>


