<div>
<a href = "#">
  <div style="background: url(/../assets/logo2.png);
  background-blend-mode: overlay;
    position: fixed;
      top: 0;
        left: 0;
      width: 12%;
    height:8%;
  background-size: cover;
background-repeat: no-repeat;
background-position: center right;">
  </div>
</a>

<a href = "#" class = "button">
  <span class="button__line button__line--top"></span>
  <span class="button__line button__line--right"></span>
  <span class="button__line button__line--bottom"></span>
  <span class="button__line button__line--left"></span>
  Contacts
</a>

<a href = "#" class = "button">
  <span class="button__line button__line--top"></span>
  <span class="button__line button__line--right"></span>
  <span class="button__line button__line--bottom"></span>
  <span class="button__line button__line--left"></span>
  Login
</a>


<a href = "#" class = "buttonWhite"  >

  <span class="buttonWhite__line buttonWhite__line--top"></span>
  <span class="buttonWhite__line buttonWhite__line--right"></span>
  <span class="buttonWhite__line buttonWhite__line--bottom"></span>
  <span class="buttonWhite__line buttonWhite__line--left"></span>
  Registration
</a>
</div>

