<div class="cont1">
  <a class="button-2" (click)="goBack()">Back</a>
</div>

<div class="cont2">
  <input type="text" placeholder="add_lastName" [(ngModel)]="clientNew.lastName"/>
  <input type="text" placeholder="add_firstName" [(ngModel)]="clientNew.firstName"/>
  <input type="text" placeholder="add_middleName" [(ngModel)]="clientNew.middleName"/>
  <input type="text" placeholder="add_phone" [(ngModel)]="clientNew.phone"/>
  <input type="text" placeholder="add_email" [(ngModel)]="clientNew.email"/>
  <input type="text" placeholder="add_driveCategory" [(ngModel)]="clientNew.driveCategory"/>
  <a class="button-1" (click)="addClient()">Add</a>
</div>

<div  class="mat-elevation-z8 test" >
  <mat-form-field class="search">
    <mat-label>SEARCH</mat-label>
    <input  matInput (keyup)="applyFilter($event)" placeholder="Ввод:" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last name </th>
      <td mat-cell *matCellDef="let element"> {{element?.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="middleName">
      <th mat-header-cell *matHeaderCellDef> Middle name </th>
      <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="delUser">
      <th mat-header-cell *matHeaderCellDef> DelUser </th>
      <td mat-cell *matCellDef="let element"> {{element.delUser}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator   showFirstLastButtons
                   [length]="10"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[1, 5, 10]">
  </mat-paginator >
  </div>
