<div class="body-box">

  <h1 mat-dialog-title>Edit Your data</h1>
  <mat-dialog-content>
    <form>
      <div>
        <label>First name: </label><br>
        <input class="window" [(ngModel)]="profile.firstName" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Last name: </label><br>
        <input class="window" [(ngModel)]="profile.lastName" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Middle name: </label><br>
        <input class="window" [(ngModel)]="profile.middleName" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Phone: </label><br>
        <input class="window" [(ngModel)]="profile.phone" [ngModelOptions]="{standalone: true}">
      </div>

      <div>
        <label>Password: </label><br>
        <input type ="password" class="window" [(ngModel)]="profile.password" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Confirm password: </label><br>
        <input type ="password" class="window" [(ngModel)]="passwordConfirm" [ngModelOptions]="{standalone: true}">
      </div>
    </form>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button class="button-create-box-popup" mat-button (click)="onNoClick()">Close</button>
    <button class="button-create-box-popup" mat-button (click)="onSubmit()">Save</button>
  </div>
</div>

