<h1 mat-dialog-title>Edit Your data</h1>
<div mat-dialog-content>

  <form>

    <mat-form-field>
      <label>First name: </label>
      <input matInput [(ngModel)]="profile.firstName" [ngModelOptions]="{standalone: true}">
    </mat-form-field><br>

    <mat-form-field>
      <label>Last name: </label>
      <input matInput [(ngModel)]="profile.lastName" [ngModelOptions]="{standalone: true}">
    </mat-form-field><br>

    <mat-form-field>
      <label>Middle name: </label>
      <input matInput [(ngModel)]="profile.middleName" [ngModelOptions]="{standalone: true}">
    </mat-form-field><br>

    <mat-form-field>
      <label>Phone: </label>
      <input matInput [(ngModel)]="profile.phone" [ngModelOptions]="{standalone: true}">
    </mat-form-field><br>

    <mat-form-field>
      <label>Password: </label>
      <input type ="password" matInput [(ngModel)]="profile.password" [ngModelOptions]="{standalone: true}">
    </mat-form-field><br>

    <mat-form-field>
      <label>Confirm password: </label><input type ="password" matInput [(ngModel)]="passwordConfirm" [ngModelOptions]="{standalone: true}">
    </mat-form-field><br>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="onSubmit()">Save</button>
</div>

