<div class="grid">
  <div class="information">
    <div class="orderInformation">
      <div class="heading">
        <b>Order information:</b>
        <hr align="left" width="300" size="4" color="#87CEFA"/>
      </div>
      <div>
        <b>Customer: </b>
        <span> {{orderDet?.box.client.lastName}} {{orderDet?.box.client.firstName}} {{orderDet?.box.client.middleName}}</span><br>
      </div>
      <div class="address">
        <b>From:</b><br>
        <b>Country: </b>
        <span>{{orderDet?.location.country}} </span>
        <b>City: </b>
        <span>{{orderDet?.location.city}} </span><br>
        <b>Street: </b>
        <span>{{orderDet?.location.street}} </span><br>
        <b>Home: </b>
        <span>{{orderDet?.location.home}} </span>
        <b>Apartment: </b>
        <span>{{orderDet?.location.apartment}} </span><br>
      </div>
      <div clas="address">
        <b>To:</b><br>
        <b>Country: </b>
        <span>{{orderDet?.destination.country}} </span>
        <b>City: </b>
        <span>{{orderDet?.destination.city}} </span><br>
        <b>Street: </b>
        <span>{{orderDet?.destination.street}} </span><br>
        <b>Home: </b>
        <span>{{orderDet?.destination.home}} </span>
        <b>Apartment: </b>
        <span>{{orderDet?.destination.apartment}} </span><br>
      </div>
       <div>
         <b>Status: </b>
         <span>{{orderDet?.status.description}} </span><br>
       </div>
      <div>
        <b>Price: </b>
        <span>{{orderDet?.price}} rub.</span><br>
      </div>
      <div>
        <b>Receiver: </b>
        <span>{{orderDet?.receiver.lastName}} {{orderDet?.receiver.firstName}} {{orderDet?.receiver.middleName}}</span><br>
      </div>
    </div>
    <div class="boxInformation">
      <div class="heading">
        <b>Box information:</b>
        <hr align="left" width="300" size="4" color="#87CEFA"/>
      </div>
      <div>
        <b>Box name: </b>
        <span> {{orderDet?.box.name}} </span><br>
      </div>
      <div>
        <b>Box dimensions: </b><br>
        <b>Volume: </b>
        <span>{{orderDet?.box.volume}} </span>
        <span>kbm </span>
        <b>Weight: </b>
        <span>{{orderDet?.box.weight}} kg </span>
        <b>Width: </b>
        <span>{{orderDet?.box.width}} cm </span>
        <b>Height: </b>
        <span>{{orderDet?.box.height}} cm </span>
      </div>
      <div>
        <b>Type of box: </b>
        <span>{{orderDet?.box.typeCargo.name}} </span>
      </div>
    </div>
    <div class="driver" >
      <div *ngIf="orderDet?.driver != null">
        <div class="heading">
          <b>Driver:</b>
          <hr align="left" width="300" size="4" color="#87CEFA"/>
        </div>
        <div>
          <b>Driver: </b>
          <span>{{orderDet?.driver?.lastName}} {{orderDet?.driver?.firstName}} {{orderDet?.driver?.middleName}}</span><br>
        </div>
      </div>
      <div *ngIf="orderDet?.driver == null && isLoggedAndDriver" class="cont1">
        <button mat-button class="button" (click)="modifyByIdStatusInWork()">take order</button>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8 test">
    <div id="map-mapbox"></div>
  </div>

</div>
