
<div *ngIf="orderDet.length; else noOrder">
  <div *ngFor="let ord of orderDet" class="block1">
    <strong>OrderId - {{ord.id}}:  {{ord.name}}   {{ord.price}}</strong>
    <p *ngIf="ord.status; else noStatus">
      Status: {{ord.status.id}} {{ord.status.name}}  {{ord.status.description}}
    </p>
    <p *ngIf="ord.location; else noLocation">
      Location: {{ord.location.addressId}} {{ord.location.country}} {{ord.location.city}}
      {{ord.location.street}} {{ord.location.home}} {{ord.location.apartment}}
    </p>
    <p *ngIf="ord.destination; else noDestination">
      Destination: {{ord.destination.addressId}} {{ord.destination.country}} {{ord.destination.city}}
      {{ord.destination.street}} {{ord.destination.home}} {{ord.destination.apartment}}
    </p>

    <div *ngIf="ord.driver; else noDriver">
    <p>
      Driver: {{ord.driver.userId}} {{ord.driver.lastName}} {{ord.driver.firstName}}
      {{ord.driver.middleName}} {{ord.driver.phone}} {{ord.driver.email}} {{ord.driver.driveCategory}}
    </p>
      <div *ngIf="ord.driver.car; else noCar">
        <p >
          Car: {{ord.driver.car.id}} {{ord.driver.car.name}} {{ord.driver.car.volume}}
        </p>
        <div *ngIf="ord.driver.car.trailer; else noTrailer">
          <p>
            Trailer: {{ord.driver.car.trailer.id}} {{ord.driver.car.trailer.name}} {{ord.driver.car.trailer.number}}
            {{ord.driver.car.trailer.volume}} {{ord.driver.car.trailer.liftingCapacity}}
          </p>
        </div>
      </div>
    </div>

    <p *ngIf="ord.receiver; else noReceiver">
      Receiver: {{ord.receiver.userId}} {{ord.receiver.lastName}} {{ord.receiver.firstName}}
      {{ord.receiver.middleName}} {{ord.receiver.email}} {{ord.receiver.phone}}
    </p>

    <div *ngIf="ord.box; else noBox">
    <p>
      Box: {{ord.box.boxId}} {{ord.box.name}}  {{ord.box.height + 'cm'}}  {{ord.box.width + 'cm'}}
      {{ord.box.weight + 'kg'}}  {{ord.box.volume.toFixed(4) + 'kbm'}}
    </p>
      <div  *ngIf="ord.box; else noBoxOwner">
        <p>
          Box owner: {{ord.box.client.userId}} {{ord.box.client.lastName}} {{ord.box.client.firstName}}
          {{ord.box.client.middleName}} {{ord.box.client.email}} {{ord.box.client.phone}}
        </p>
      </div>

      <div  *ngIf="ord.box; else noTypeBox">
        <p>
          Type box: {{ord.box.typeCargo.typeId}} {{ord.box.typeCargo.name}} {{ord.box.typeCargo.description}}
        </p>
      </div>
    </div>
  </div>
</div>
<button (click)="goBack()">go_back</button>


<ng-template #noOrder>
  <p> No order now!</p>
</ng-template>

<ng-template #noTrailer>
  <p> No Trailer!</p>
</ng-template>

<ng-template #noReceiver>
  <p> No Receiver!</p>
</ng-template>

<ng-template #noBox>
  <p> No Box!</p>
</ng-template>

<ng-template #noBoxOwner>
  <p> No BoxOwner!</p>
</ng-template>

<ng-template #noTypeBox>
  <p> No TypeBox!</p>
</ng-template>

<ng-template #noDriver>
  <p> No Driver!</p>
</ng-template>
<ng-template #noCar>
  <p> No Car!</p>
</ng-template>

<ng-template #noStatus>
  <p> No Status!</p>
</ng-template>

<ng-template #noLocation>
  <p> No Location!</p>
</ng-template>

<ng-template #noDestination>
  <p> No Destination!</p>
</ng-template>

<ng-template #load>
  <p> load_order_details</p>
</ng-template>
