<div class="body-box">
 <h1 mat-dialog-title>Add car</h1>
    <mat-dialog-content>
        <form>
            <div>
                <label>Trailer name: </label><br>
                <input class="window" [(ngModel)]="newTrailer.name" [ngModelOptions]="{standalone: true}">
            </div>
            <div>
                <label>Volume: (kbm) </label><br>
                <input onkeyup="this.value = this.value.replace(/[^\d]/g,'');" class="window" matInput
                       [(ngModel)]="newTrailer.volume" [ngModelOptions]="{standalone: true}">
            </div>
            <div>
                <label>lifting Capacity: (kg) </label><br>
                <input onkeyup="this.value = this.value.replace(/[^\d]/g,'');" class="window"
                       [(ngModel)]="newTrailer.liftingCapacity" [ngModelOptions]="{standalone: true}">
            </div>
            <div>
                <label>Number:</label><br>
                <input onkeyup="this.value = this.value.replace(/[^\d]/g,'');" class="window"
                       [(ngModel)]="newTrailer.number" [ngModelOptions]="{standalone: true}">
            </div>
        </form>
    </mat-dialog-content>
    <div mat-dialog-actions>
        <button class="button-create-box-popup" mat-button (click)="onNoClick()">Close</button>
        <button class="button-create-box-popup" mat-button (click)="onSubmit()">Save</button>
    </div>
</div>
