<div class="cont1">
   <button (click)="goBack()">goBack</button>
   <button  (click)="createBox()">Create_Box</button>
</div>

<div *ngIf="boxList.length && typeCargoList.length; else noData">
<div class="cont2">
  <input type="text" placeholder="name" [(ngModel)]="name"/>
  <input type="text" placeholder="height, cm" [(ngModel)]="height"/>
  <input type="text" placeholder="width, cm" [(ngModel)]="width"/>
  <input type="text" placeholder="weight, kg" [(ngModel)]="weight"/>
  <label>type</label>
  <select [(ngModel)]="tId">
    <option *ngFor="let t of typeCargoList" value="{{t.typeId}}"> {{t.name}} </option>
  </select>
</div>

<div class="cont3" *ngIf="boxList.length">

  <tr>

    <td style="width: 80px">boxId</td>
    <td style="width: 100px">name</td>
    <td style="width: 100px">weight, kg</td>
    <td style="width: 100px">volume, kbm</td>
    <td style="width: 100px">width, cm</td>
    <td style="width: 100px">height, cm</td>
    <td style="width: 200px">type</td>
  </tr>

  <div class="cont4" *ngIf="boxList.length">
    <tr *ngFor="let cl of boxList | boxFilterByClientEmail: searchBoxByClientEmail">

      <td style="width: 80px">{{cl.boxId}}</td>
      <td style="width: 120px">{{cl.name}}</td>
      <td style="width: 100px">{{cl.weight}}</td>
      <td style="width: 100px">{{cl.volume}}</td>
      <td style="width: 100px">{{cl.width}}</td>
      <td style="width: 100px">{{cl.height}}</td>
      <td style="width: 200px">{{cl.typeCargo.name}}</td>
      <td style="width: 70px"><button (click)="delete(cl.boxId)">x</button></td>
    </tr>
  </div>
</div>
</div>

<ng-template #noData>
 <app-loader></app-loader>
</ng-template>


