<div class="cont1">
   <button (click)="goBack()">goBack</button>
   <button  (click)="createBox()">Create Box</button>
</div>


<div class="cont2">
  <input type="text" placeholder="name" [(ngModel)]="name"/>
  <input type="text" placeholder="height" [(ngModel)]="height"/>
  <input type="text" placeholder="width" [(ngModel)]="width"/>
  <input type="text" placeholder="weight" [(ngModel)]="weight"/>
  <label>type</label>
  <select [(ngModel)]="tId">
    <option *ngFor="let t of typeCargoList" value="{{t.typeId}}"> {{t.name}} </option>
  </select>
</div>

<div class="cont3" *ngIf="boxList.length; else noBox">

  <tr>

    <td style="width: 80px">boxId</td>
    <td style="width: 100px">name</td>
    <td style="width: 100px">weight</td>
    <td style="width: 100px">volume</td>
    <td style="width: 100px">width</td>
    <td style="width: 100px">height</td>
    <td style="width: 200px">type</td>
  </tr>

  <div class="cont4" *ngIf="boxList.length; else noBox">
    <tr *ngFor="let cl of boxList | boxFilterByClientEmail: searchBoxByClientEmail">

      <td style="width: 80px">{{cl.boxId}}</td>
      <td style="width: 100px">{{cl.name}}</td>
      <td style="width: 100px">{{cl.weight}}</td>
      <td style="width: 100px">{{cl.volume}}</td>
      <td style="width: 100px">{{cl.width}}</td>
      <td style="width: 100px">{{cl.height}}</td>
      <td style="width: 200px">{{cl.typeCargo.name}}</td>

    </tr>
  </div>
</div>

<div>
  <ng-template #noBox>
    <p>No BOX now!</p>
  </ng-template>
</div>

