
<tr>
  <a routerLink="/orderDetail/{{modelOrder.id}}">
      <td style="width: 30px">{{modelOrder.id}}</td>
  </a>
      <td style="width: 80px">{{modelOrder.name + modelOrder.id}}</td>
      <td style="width: 130px">{{modelOrder.status.name}}</td>
      <td style="width: 80px">{{modelOrder.price}}</td>
      <td style="width: 150px">{{modelOrder.location.city}}</td>
      <td style="width: 150px">{{modelOrder.destination.city}}</td>
      <td style="width: 90px">{{modelOrder.box.weight}}</td>
      <td style="width: 100px">{{modelOrder.box.volume.toFixed(4)}}</td>
</tr>
