.mat-dialog-title{
  font-family: "Montserrat", sans-serif;
}
form{
  width: 100%;
  padding: 5px;
  background-color: white;
  border: solid 2px #ffffff;
  overflow: auto;
  text-decoration:none;
  font-family: "Montserrat", sans-serif;
}
.button-create-box-popup{
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #020101;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  text-decoration:none;
}

.button-create-box-popup:hover{
  background-color: #59acec;
  color: rgba(255, 255, 255, 0.85);
  background-color: #2196f3;
}
