<div class="body-box">
<h1 mat-dialog-title>CREATE BOX</h1>
<div mat-dialog-content>
  <form>
    <p>
    <input class="window" type="text" placeholder="name" [(ngModel)]="newBox.name" [ngModelOptions]="{standalone: true}"/>
    </p>
    <p>
    <input class="window" type="text" placeholder="height" [(ngModel)]="newBox.height" [ngModelOptions]="{standalone: true}"/>
    </p>
    <p>
    <input class="window" type="text" placeholder="width" [(ngModel)]="newBox.width" [ngModelOptions]="{standalone: true}"/>
    </p>
    <p>
    <input class="window" type="text" placeholder="weight" [(ngModel)]="newBox.weight" [ngModelOptions]="{standalone: true}"/>
    </p>
    <label>type</label>
    <select [formControl]="fControl" [(ngModel)]="newBox.typeCargo">
      <option *ngFor="let t of typeCargoList" [value]="t.typeId"> {{t.name}}</option>
    </select>
  </form>
</div>
<div mat-dialog-actions>
  <button class="button-create-box-popup" mat-button (click)="onNoClick()">Close</button>
  <button class="button-create-box-popup" mat-button (click)="onSubmit()">Save</button>
</div>
</div>
