.cont1 {
  padding: 5px;
  border: solid 1px grey;
  margin: 5px;
}

.cont2{
  border: solid 1px grey;
  margin: 5px;
  padding: 5px;
}


.cont3 {
  border: solid 1px black;
  padding: 10px;
  margin: 5px;
  overflow: auto;
}

.cont4{
  border: solid 1px gray;
  overflow: auto;
  padding: 5px;
  height: 300px;
}


