.profile{
  position: absolute;
  top: 150px;
  left: 100px;
}

.details {
  position: relative;
  top: 0px;
  right: 0px;
}
.edit{
  position: relative;
  top: -150px;
  left: 150px;
}
.tableOrders{
  position: relative;
  top: -125px;
  left: 750px;
  width: 600px;
}
/*.addButton{*/
/*  position: relative;*/
/*  top: -10px;*/
/*  left: 85px;*/

/*}*/
/*.deleteButton{*/
/*  position: relative;*/
/*  top: 15px;*/
/*  left: 100px;*/
/*  display: block;*/

/*}*/



