<div class="cont3">
  <button (click)="goBack()">goBack</button>
  <button (click)="create()">Order Create</button>
  <button routerLink="/box">Box</button>
  <button routerLink="/client">Receiver</button>
  <button routerLink="/address">Address</button>
</div>

<div *ngIf="addressListLoc.length && addressListDest && clientList.length && boxList.length; else noData">
  <div class="y">
    <label>Destination</label>
    <div *ngIf="addressListDest.length">

      <form class="example-form">
        <input type="text"
               placeholder="Search destination"
               [formControl]="controlDest"
               [matAutocomplete]="auto"
               style="width: 300px"
               [(ngModel)]="inputDest"
               (blur)="clearDest()"
               >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let dest of filteredAddressDest | async" [value]="dest.city+' '+dest.street+' '+dest.home+' '+dest.apartment" (click)="addDestination(dest)" >
            {{dest.city}} {{dest.street}} {{dest.home}} {{dest.apartment}}
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>
  </div>


<div class="y">
  <label>Location</label>
  <div *ngIf="addressListLoc.length">

    <form class="example-form">
      <input type="text"
             placeholder="Search location"
             [formControl]="controlLoc"
             [matAutocomplete]="auto"
             style="width: 300px"
             [(ngModel)]="inputLoc"
             (blur)="clearLoc()"
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let loc of filteredAddressLoc | async" [value]="loc.city+' '+loc.street+' '+loc.home+' '+loc.apartment" (click)="addLocation(loc)" >
          {{loc.city}} {{loc.street}} {{loc.home}} {{loc.apartment}}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
</div>

<div class="y">
  <label>Receiver</label>
  <div *ngIf="clientList.length">

    <form class="example-form">
      <input type="text"
             placeholder="Search receiver"
             [formControl]="controlReceiver"
             [matAutocomplete]="auto"
             style="width: 300px"
             [(ngModel)]="inputRec"
             (blur)="clearReceiver()"
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let rec of filteredReceiver | async" [value]="rec.lastName+' '+rec.firstName+' '+rec.middleName" (click)="addReceiver(rec)" >
          {{rec.lastName}} {{rec.firstName}} {{rec.middleName}}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
</div>


<div class="y">
  <label>Box</label>
  <div *ngIf="boxList.length">

    <form class="example-form">
      <input type="text"
             placeholder="Search box"
             [formControl]="controlBox"
             [matAutocomplete]="auto"
             style="width: 300px"
             [(ngModel)]="inputBox"
             (blur)="clearBox()"
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let box of filteredBox | async | boxFilterByClientEmail: searchBoxClientEmail" [value]="box.name+' '+box.typeCargo.name+' '+box.weight+'кг'+ box.volume+'см' " (click)="addBox(box)" >
          {{box.name}} {{box.typeCargo.name}} {{box.weight + 'кг'}} {{box.volume + 'куб.м'}}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
</div>
</div>


<ng-template #noData>
  <app-loader></app-loader>
</ng-template>


