

.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.cont3{
  border: solid 1px grey;
  margin: 5px;
  padding: 5px;
}

.y{
  margin: 5px;
  padding: 5px;
  overflow: auto;
  float: left;
}



