
.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.y{
  margin: 5px;
  padding: 5px;
  overflow: auto;
  float: left;
}

.cont3 {
  width: 60%;
  padding: 5px;
  overflow: auto;
  text-decoration:none;
}

.button {
  margin: 5px;
}
